nav {
  position: relative; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}
.logo a {
  color: #fff;
  text-decoration: none;
}
.logo a:hover {
  color: rgb(49, 191, 44);
}
.logo {
  font-size: 24px;
  text-decoration: none;
  color: rgb(49, 191, 44);
}

.menu-bar-container {
  position: absolute; 
  right: 20px; 
}

.menu-icon {
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 10px);
  background-color: #333;
  display: none;
  z-index: 1000; /* Ensure dropdown is on top of other content */
  width: 150px; /* Adjust width as needed */
  right: 0; /* Align dropdown with the right edge */
}
